<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/userspage">Users</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/productspage">Products</a>
      </li>   
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/postspage">Posts</a>
      </li> 
    </ul>

    <a class="navbar-brand" routerLink="/registerpage">Register</a>

     <a class="navbar-brand" routerLink="/loginpage">Login</a>
</nav>
