<p>login works!</p>
<div class="container">
    <form #userForm="ngForm">
        <br>
    
  
  
        <div class="form-group">
          <label>Email :</label>
          <input type="email" name="email" #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
           required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
           [(ngModel)]="userModel.email" class="form-control">
         
           <div *ngIf="email.errors && (email.invalid || email.touched)" [class.d-none]="email.untouched ||email.valid">
              <small class="text-danger"  *ngIf="email.errors.required" >Email is required</small>
              <small class="text-danger" *ngIf="email.errors.pattern" >Email not vaild</small>
          
             </div>   
      </div>
      <br>
      <div class="form-group">
        <label>Password :</label>
        <input type="password" name="password" #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
        required pattern="^\d{5}$"
         [(ngModel)]="userModel.password" class="form-control">
       
           <div *ngIf="password.errors && (password.invalid || password.touched)" [class.d-none]="password.untouched ||password.valid">
              <small class="text-danger"  *ngIf="password.errors.required" >Password is required</small>
              <small class="text-danger" *ngIf="password.errors.pattern" >Password must be more than 5 number</small>
          
             </div>
    </div>
      <br>
        <input type="submit" class="btn btn-primary" value="Login">

    </form>
  </div>
  
  
