<p>pro-with-out-discount works!</p>
<div style="text-align: center;">


    <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Discount</th>
          </tr>
      </thead>

      <tbody *ngFor="let product of ProductList">
        <tr>
        <td>{{product.ID}}</td>
        <td>{{product.Name |uppercase}}</td>
        <td>{{product.Price}}</td>
        <td>{{product.Quantity}}</td>
        <td>{{Discount}}</td>
      </tr>
    </tbody>

    </table><br><br>


  </div>